@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

ul,li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/top.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  
  background-size: cover;
  text-align: center;
  >h1 {
  font-family: Reggae One;
  font-size: 60px;
  margin-bottom: 10px;
  color: #333;
  }
}
.profile {
.header>h1 {
color: #f00;
}
}

.gnav {
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
>ul {
width: 100%;
height: 100px;
display: flex;
justify-content: center;
>li {
height: 60px;
>a {
padding: 0 30px;
line-height: 60;
font-size: 20px;
color: #333;
&:hover {
color: #854343;
}
}
}
}
}
